@import '../../styles/colors';

div.label.colorPickerLabel {
	input.textInput {
		margin: 6px 0;
	}
}

.DomElem.ColorPicker {
	background-color: $grey-light;
	padding: 14px;
	border-radius: 5px;
	margin-bottom: 6px;

	div.pickerArea {
		position: relative;
		width: 150px;
		height: 150px;
		margin: 0 auto;
		box-shadow: 0px 0px 0px 2px $grey-darker;

		* {
			pointer-events: none;
		}

		div.indicator {
			position: absolute;
			top: -6px;
			left: -4px;
			transform: translate3d(-4px, -4px, 0px);
			width: 5px;
			height: 5px;
			border: 2px solid $grey;
			border-radius: 4px;
			opacity: 0.5;
			background-color: $white;
		}
	}

	div.hueArea {
		position: relative;
		width: 150px;
		height: 30px;
		margin: 10px auto 0;
		box-shadow: 0px 0px 0px 2px $grey-darker;

		* {
			pointer-events: none;
		}

		div.indicator {
			position: absolute;
			width: 10px;
			height: 100%;
			top: -4px;
			left: -4px;
			transform: translate3d(-8px, 0px, 0px);
			opacity: 0.6;
			border: 4px solid $grey;
			border-radius: 4px;
			background-color: $white;
		}
	}
}
