@import '../../styles/colors';

.DomElem.Dialog {
	background-color: $grey-darker;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	border: 2px solid $blue-dark;

	/* Default size: small */
	width: 420px;
	height: 210px;
	/* margin: 33% auto 0; */

	&.standard {
		width: 840px;
		height: 420px;
		/* margin: 13% auto 0; */
	}

	&.large {
		width: 90vw;
		height: 90vh;
		/* margin: 5vh auto 0; */
	}

	div.header {
		text-align: center;
		font-size: 1.2em;
		height: 30px;
		border-bottom: 1px solid $grey-dark;
	}

	div.content {
		flex: 1;
		padding: 6px;
	}

	div.footer {
		height: 40px;
		border-top: 1px solid $grey-dark;
		display: flex;
		flex-direction: row;

		.DomElem.Button {
			margin: 6px;
			flex: 1;
		}
	}
}
