@import '../styles/index.css';

.DomElem.DemoView {
	display: flex;
	flex-direction: column;

	.DomElem.DemoMenu {
		padding: 6px;

		a.link.disabled {
			background-color: $grey;
		}
	}

	div.demoContent {
		flex: 1;
		overflow: auto;

		div.demoWrapper {
			position: relative;
			border: 1px solid;
			margin: 5%;
			padding: 5%;

			& > div.dialog,
			& > select.select,
			& > button.button {
				margin: 0 auto;
			}

			& > button.button {
				display: block;
			}
		}
	}
}
