@import '../../styles/colors';
@import '../../styles/fonts';
@import '../Button';

button.iconButton {
	@mixin Button;

	width: 2.4rem;
	height: 2.4rem;

	&:before {
		@mixin fontAwesomeSolid;

		position: relative;
		pointer-events: none;
	}
}
