@import '../../styles/colors';
@import '../../styles/fonts';
@import '../Button';

.DomElem.Button.IconButton {
	@mixin Button;

	width: 30px;
	height: 30px;
	padding: 3px 0 8px 0;

	&:before {
		padding: 0;
	}
}
