@import '../../styles/colors';

.DomElem.TagList {
	background-color: $grey-darkest;
	margin: 1% auto;
	border-radius: 3px;
	box-sizing: border-box;
	border: inset 2px $grey-light;
	min-height: 1em;

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	&.readOnly {
		pointer-events: none;
		border: none;
		background: none;
		width: 100%;
		margin: 0;
	}

	li.tag.addTag {
		display: flex;
		flex-direction: row;

		input.textInput {
			flex: 1;
			margin: 3px;
		}

		button.iconButton {
			width: 30px;
			height: 30px;
			margin: 3px 0 3px 3px;
		}
	}
}
