@import '../../styles/colors';

.DomElem.Tag {
	border: 1px solid white;
	padding: 6px;
	margin: 3px;
	display: inline-block;
	float: left;
	border: 2px solid;
	border-radius: 3px;
	border-top-left-radius: 0;
	font-size: 18px;
	background-color: $black;

	&.addTag {
		display: flex;
		flex-direction: row;
		padding: 0 3px;
		border: 1px solid;
		min-width: 260px;

		.DomElem.TextInput {
			display: inline-block;
			flex: 1;
			margin: 3px;
		}
	}

	.DomElem.IconButton {
		width: 30px;
		height: 30px;
		margin: 3px 0 3px 3px;
	}
}

.DomElem.TagList {
	background-color: $grey-darkest;
	margin: 1% auto;
	border-radius: 3px;
	box-sizing: border-box;
	border: inset 2px $grey-light;
	min-height: 1em;

	&:after {
		content: '';
		clear: both;
		display: table;
	}

	&.readOnly {
		pointer-events: none;
		border: none;
		background: none;
		width: 100%;
		margin: 0;
	}
}
