@import '../../styles/index.css';

div.view.demoView {
	div.demoContent {
		overflow: auto;
	}

	div.demoWrapper {
		position: relative;
		border: 1px solid;
		margin: 5%;
		padding: 5%;

		& > div.dialog,
		& > select.select,
		& > button.button {
			margin: 0 auto;
		}

		& > button.button {
			display: block;
		}
	}
}
