@import '../../styles/colors';

.DomElem.Menu {
	margin: 0;

	li {
		cursor: pointer;
		padding: 6px 6px 9px 6px;

		&:not(:last-of-type) {
			border-bottom: 1px solid $grey-light;
		}

		&:hover {
			color: $blue-light;
			border-color: $blue-light;
		}
	}
}
